.portal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 10px;
    row-gap: 10px;
    margin: 0 50px;
}
#banner {
    width: 100%;
    height: 100%;
}

#loguito {
    width: 50%;
    height: 50%;
}

.registro {
    min-height: 150px;
    height: 580px;
    margin: 10px;
    text-align: center;
    background-color: white;
    border-radius: 15px;
    display: flex;
    font-size: 14px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.column-card {
    
}

.description {
    width: 350px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.deshabilita {
    visibility: hidden;
}

h2 {
    text-align: center;
}

img {
    width: 80%;
    height: 80%;
    margin: 10px; 
}




/***botones***/
.btn-agregar {
    background-color: red;
    color: white; /* Cambia el color del texto si es necesario */
    border: none; /* Elimina el borde si lo deseas */
    padding: 8px 25px; /* Ajusta el espaciado interior del botón */
    cursor: pointer; 
    text-decoration: none;
    margin:30px 0px 20px 0px;
    border-radius: 10px;
}


@media (max-width: 600px) {
    .portal {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;
    }
}

@media (max-width: 1080px) and (min-width: 600px) {
    .portal {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;
    }
}

@media (max-width: 1580px) and (min-width: 1080px) {
    .portal {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        margin: 0 auto;
    }
}